<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    
    <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:/applicationContext.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<!-- Servlets -->
	<servlet>
		<servlet-name>jUnitHostImpl</servlet-name>
		<servlet-class>com.google.gwt.junit.server.JUnitHostImpl</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>greetServlet</servlet-name>
		<servlet-class>com.opensource.phonebook.server.rpc.GreetingServiceImpl</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>emailTypeServlet</servlet-name>
		<servlet-class>com.opensource.phonebook.server.rpc.EmailTypeServiceImpl</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>emailTypeServlet</servlet-name>
		<url-pattern>/Troop22Master/roleRpc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
  		<servlet-name>emailTypeServlet</servlet-name>
  		<url-pattern>/com.opensource.phonebook.PhoneBookJUnit/PhoneBook/roleRpc</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/PhoneBook/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/com.opensource.phonebook.PhoneBookJUnit/junithost/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>greetServlet</servlet-name>
		<url-pattern>/com.opensource.phonebook.PhoneBookJUnit/PhoneBook/greet</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>jUnitHostImpl</servlet-name>
		<url-pattern>/PhoneBook/junithost/*</url-pattern>
	</servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>PhoneBook.html</welcome-file>
	</welcome-file-list>

</web-app>
